# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/TipCalculator_FXML/TipCalculator/target/
/Lab2_Anonymous Inner Class - Copy (2)/target/
/Lab2_Anonymous Inner Class - Copy/target/
/Lab2_Inner Class/target/
/Lab2_Lambda/target/
/mavenproject1/target/
/Lab2/Lab2_Anonymous Inner Class/target/
/Lab2/Lab2_Inner Class/target/
/Lab2/Lab2_Lambda/target/
/Assignments/Niski CSC 311 Assignment 1/Niski-CSC-311-Assignment-1-Fall-2023/target/
/Lab3_Drawing_Shapes/target/
/Assignments/Niski CSC 311 Assignment 2/Brian_Niski_Assignment2/target/
/Lab4_Bouncing_Ball/target/
/Lab5_Multimedia/target/
Lab5_Multimedia/image/372x279.jpg
Lab5_Multimedia/media/stock.mp4
/Lab6_TableViewDemo/target/
/Lab7_FileChooserDemo/target/
/Assignments/Niski CSC 311 Assignment 3/Brian_Niski_Assignment3/target/
/Lab8_Generics/nbproject/private/
/Lab8_Generics/build/
/Lab9_CollectionIteratorDemo/nbproject/private/
/Lab9_CollectionIteratorDemo/build/
/Assignments/Niski CSC 311 Assignment 4/Brian_Niski_Assignment4/target/
/Lab11_RegexDemo/nbproject/private/
/Lab11_RegexDemo/build/
